body{
    background-color: rgba(55, 190, 178, 0.71);
    color: rgb(12, 10, 10);
    font-family: "Baskervville SC", serif;
    display: flex;
    justify-content: center; 
    align-items: center;
}